<div class="flex flex-row justify-content-between align-items-center">
    <div>
        <div class="grid">
            <div class="col-12">
                <p-menubar
                    [model]="menuItems"
                    [style]="{
                        background: 'none',
                        border: 'none',
                        'font-size': '14px'
                    }"
                >
                    <ng-template pTemplate="start">
                        <img
                            src="/assets/new-qsurvey/images/logo_qserve.webp"
                            height="40"
                            class="ml-4 mr-6"
                        />
                    </ng-template>
                </p-menubar>
            </div>
        </div>
    </div>
    <div>
        <div class="grid pr-2">
            <div class="col-6 align-self-end">
                <p-dropdown
                    [options]="language"
                    [(ngModel)]="selectedLanguage"
                    optionLabel="name"
                    [style]="{
                        background: '#E4E6EF',
                        border: '#E0E2FA',
                    }"
                ></p-dropdown>
            </div>
            <div
                class="col-6 mb-2 surface-100 border-round pb-0 align-self-end"
            >
                <div class="grid">
                    <div class="col-6 m-0 mr-2">
                        <p class="m-0 text-xs">Admin01</p>
                        <p class="m-0 text-xs">ADMIN</p>
                    </div>
                    <div
                        class="col-5 m-0 flex justify-content-center align-items-center"
                    >
                        <div
                            class="flex align-items-center justify-content-center bg-white border-round"
                            style="width: 2rem; height: 1.8rem"
                        >
                            A
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
