<div class="grid flex justify-content-center surface-100">
  <div class="col-10 flex justify-content-end">
    <div class="grid">
      <div class="col-4">
        <button
          class="bg-teal-300 border-none border-round-md text-white px-3 py-2 m-2"
        >
          Export
        </button>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="grid">
      <div class="col-12 lg:col-6 xl:col-2">
        <div class="surface-card p-4 border-1 border-50 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="mb-3">All Vote</span>
              <div class="flex align-items-center gap-2">
                <div class="font-bold text-2xl">286</div>
                <div class="text-xs text-400">Votes</div>
              </div>
            </div>
            <!-- <div
              class="flex align-items-center justify-content-center"
              style="width: 2.5rem; height: 2.5rem"
            > -->
            <fa-icon [icon]="faUsers" class="text-3xl"></fa-icon>
            <!-- </div> -->
          </div>
          <div class="border-3 border-teal-300 border-round-md"></div>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-2" *ngFor="let data of smiley">
        <div
          class="p-4 border-1 border-50 border-round"
          [style.background-color]="data.bgColor"
        >
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="text-white mb-3">{{ data.name }}</span>
              <div class="flex align-items-center gap-2">
                <div class="font-bold text-white text-2xl">
                  {{ data.percent }}%
                </div>
              </div>
            </div>
            <fa-icon [icon]="data.icon" class="text-white text-3xl"></fa-icon>
          </div>
          <div class="border-3 border-white border-round-md"></div>
        </div>
      </div>
    </div>
  </div>
</div>
